
*{background-color: white;
    color: #61A4BC;
            font-family: "Caveat", cursive;
            font-size:30px;
            }
    
h1, h2, h3, h4, h5 {
    color: #5B7DB1;

}

h1{ font-size: 45px;}
h2{font-size: 40px;}


#link:hover
    {color:#1A132F}

:visited {color:#db91bf}

a::before{
    content: "→";
 }

 p {
   background-color:#F7E2E2;
border: 10px solid #61A4BC;
margin: 20px;
padding: 10px;
}

 figure {display:inline-block;
    
}


