/*Mobile Devices*/
@media(max-width: 500px){
    .nav {
        height:100px;
    }
}

.parent{
    display: grid;
    grid-template-areas:
        "logo nav nav"
        "portfolio portfolio portfolio"
        "about about about"
        "contact contact contact"
        "footer footer footer";

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 10px; /*row, column gaps*/
    grid-template-columns: minmax(500px, 1fr);
    justify-items: start;
    align-items: start;
}

.logo{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: start;
    align-self: end;
}

.nav{
    grid-column: 2 / span 4;
    grid-row: 1 / 1;
}

.portfolio{
    grid-column: 1 / span 4;
    grid-row: 2 / 3;

}
#portfolio {
    margin:auto;
}
/*flexbox section of portfolio*/
.portfolio--flex--table
    {display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    }

.child{
    width: 32%;
    padding-bottom: 16%;
    margin-bottom: 2%;
    position: relative;
}


/*back to grid*/
.about{
    grid-column: 1 / span 4;
    grid-row: 3 / 4;
    max-width: 65%;
    margin:auto;
}
.contact{
    grid-column: 1/ span 4;
    grid-row: 4 / 5;
}
.footer{
    grid-column: 1 / span 4;
    grid-row: 5 / 6;
    align-items: start;
    justify-content: end;
}


*{
    background-color: rgb(147, 181, 198);
        color: #FFE3E3;
             font-family: 'Lora', serif;
            font-size:30px;
            }
    
h1, h2, h3, h4, h5 {
    color: #FFE3E3;

}

h1{ font-size: 45px;}
h2{font-size: 45px;}


#link:hover
    {color:#1A132F}

:visited {color:#db91bf}

a::before{
    content: "→";
 }

 p {
   background-color:rgb(228, 216, 220, .5);
border: 10px solid #61A4BC;
margin: 20px;
padding: 10px;
}

 figure {display:inline-block;
    
}

